<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <h1>Title: <%= book.title %></h1>
    <p>Length: <%= book.pages %></p>
    <p>Publication Year: <%= book.publication_year %></p>
    <p>Author Name(s): <% book.authors.each do |author| %></p>
      <li id="author-<%= author.id %>">
        <uo><%= link_to "#{author.name}", "/authors/#{author.id}" %></uo>
      </li>
    <% end %>
  </section>
<% end %>
