<% @books.each do |book| %>
  <section id="book-<%= book.id %>">
    <h1><%= book.title %></h1>
    <p><%= book.pages %></p>
    <p><%= book.publication_year %></p>
    <p><%= book.authors.name %></p>
  </section>
<% end %>
